@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 0 6%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6em;
  height: 100%;
}

.header .nav-items {
  font-size: 0.8em;
  max-width: 50%;
  width: 15em;
  margin: auto 0;
}

.header .nav-items ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

@media only screen and (min-width: 768px) {
  .header {
    height: 8em;
  }
  .header .logo {
    width: 8em;
  }
}

.hero {
  padding: 0 6%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.hero .hero-img {
  width: 100%;
  margin: 10vw auto;
}

.hero .hero-img img {
  width: 100%;
}

.hero .title {
  font-family: "Raleway", sans-serif;
}

.hero .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8em;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .form label {
  display: none;
}

.hero .form input {
  padding: 1em;
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 1px;
          box-shadow: inset 0 0 1px;
  border-radius: 4px;
}

.hero .form input:focus-within {
  color: #070439;
}

.hero .form button {
  padding: 0.8em 0.5em;
  background-color: #3065f8;
  border: none;
  color: #f8f8fe;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .hero {
    min-height: 70%;
    -ms-grid-columns: 45% 50%;
        grid-template-columns: 45% 50%;
    -ms-grid-rows: 1fr 20% 1fr;
        grid-template-rows: 1fr 20% 1fr;
        grid-template-areas: "content image" "content image" "content image";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: image;
    width: 90%;
    margin: 0 auto;
  }
  .hero .title,
  .hero .subtitle,
  .hero .form {
    grid-area: "content";
    text-align: left;
  }
  .hero .title {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .hero .form {
    justify-self: flex-start;
    width: 80%;
    margin-top: 5%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .form input {
    width: 50%;
  }
  .hero .form button {
    width: 40%;
  }
}

.curve-img {
  padding: 0;
  padding-top: 5em;
  margin: 0;
  width: 100%;
  height: 4em;
}

.curve-img img {
  height: 100%;
  width: 100%;
}

.mid-section {
  background-color: #f8f8fe;
  padding: 0 6%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.mid-section .section-img {
  width: 100%;
  padding-bottom: 4em;
}

.mid-section .section-img img {
  width: 100%;
}

.mid-section .section-header {
  font-family: "Raleway", sans-serif;
}

.mid-section .section-content {
  color: #585989;
}

.mid-section .section-link {
  text-decoration: none;
  text-align: center;
}

.mid-section .section-link a {
  text-decoration: none;
  color: #3c9f8f;
  -webkit-box-shadow: 0 2px 0 #3c9f8f;
          box-shadow: 0 2px 0 #3c9f8f;
  padding-bottom: 3px;
}

.mid-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding: 2em;
  width: 65%;
  height: 40%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(191, 191, 191, 0.8);
          box-shadow: 0 0 10px rgba(191, 191, 191, 0.8);
  margin: 5em 0;
}

.mid-section .card .quote-content {
  font-size: 0.7em;
  line-height: 1.6em;
  width: 100%;
}

.mid-section .card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-section .card .author .author-img {
  width: 10%;
  padding-right: 1em;
}

.mid-section .card .author .author-img img {
  width: 30px;
  border-radius: 50%;
}

.mid-section .card .author .author-details * {
  padding: 0;
  margin: 0;
}

.mid-section .card .author .author-details span {
  font-size: 0.55em;
}

@media only screen and (min-width: 768px) {
  .mid-section {
    min-height: 100%;
    -ms-grid-columns: 45% 50%;
        grid-template-columns: 45% 50%;
    -ms-grid-rows: 20% 40% 5% 35%;
        grid-template-rows: 20% 40% 5% 35%;
        grid-template-areas: "content image" "content image" "content image" "content image";
    text-align: left;
    justify-items: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mid-section .section-header,
  .mid-section .section-content,
  .mid-section .section-link,
  .mid-section .card {
    grid-area: "content";
  }
  .mid-section .section-header {
    font-size: 1.6em;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .mid-section .section-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    grid-area: image;
    width: 90%;
    margin: auto;
  }
  .mid-section .section-link,
  .mid-section .card {
    margin-top: 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.early-access {
  background-color: #585989;
  color: #f8f8fe;
  padding: 15% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.early-access .content > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 700;
  font-family: "Raleway", sans-serif;
}

.early-access .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8em;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.early-access .form label {
  display: none;
}

.early-access .form input {
  padding: 1em;
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.early-access .form input:focus-within {
  color: #070439;
}

.early-access .form button {
  border-radius: 3px;
  padding: 0.9em 0.5em;
  background-color: #3065f8;
  border: none;
  color: #f8f8fe;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0 0 3px rgba(7, 4, 57, 0.2);
          box-shadow: 0 0 3px rgba(7, 4, 57, 0.2);
}

@media only screen and (min-width: 768px) {
  .early-access {
    min-height: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5% 6%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .early-access .content {
    text-align: left;
    max-width: 40%;
  }
  .early-access .content h3 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 1.6em;
  }
  .early-access .form {
    width: 40%;
  }
  .early-access .form button {
    width: 50%;
  }
}

footer {
  background-color: #070439;
  color: #bfbfbf;
  padding: 15% 6%;
  padding-bottom: 0;
}

footer .logo {
  width: 100%;
  height: 4em;
}

footer .phone,
footer .email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  justify-items: left;
  margin-top: 1em;
}

footer .phone img,
footer .email img {
  margin-top: 0.4em;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin-top: 4em;
}

footer .links ul li {
  margin-bottom: 1em;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials .icon {
  margin-right: 1.5em;
  width: 35px;
  height: 35px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 0;
}

footer .attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 768px) {
  footer {
    display: -ms-grid;
    display: grid;
    padding: 5% 6%;
        grid-template-areas: "logo logo logo" "contact links socials";
    -ms-grid-columns: 30% 40% 30%;
        grid-template-columns: 30% 40% 30%;
  }
  footer .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: logo;
  }
  footer .contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact;
  }
  footer .links {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: links;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .links ul {
    margin: 0;
  }
  footer .socials {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: socials;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  footer .attribution {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: socials;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}
/*# sourceMappingURL=style.css.map */