@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


//Colors

$black: hsl(243, 87%, 12%);
$grey: hsl(238, 22%, 44%);

$blue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);

$gray-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

//Fonts

$header-font: 'Raleway', sans-serif;
$normal-font: 'Open Sans', sans-serif;

body {
    height: 100%;
    width: 100%;
    font-family: $normal-font;
}

.container {
    padding: 0 6%;
}

.header {
    height: 4em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    .logo {
        background-image: url('../images/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 6em;
        height: 100%;
    }

    .nav-items{
        font-size: 0.8em;
        max-width: 50%;
        width: 15em;
        height: 100%;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            transform: translateX(-30%);
        }
    }
}

.hero {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 100%;

    .hero-img {
        background-image: url('../images/illustration-1.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60vh;
        width: 90%;
        margin-bottom: 10vw;
    }
}

.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}