@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


//Colors

$black: hsl(243, 87%, 12%);
$grey: hsl(238, 22%, 44%);

$blue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);

$gray-blue: hsl(240, 75%, 98.5%);
$light-gray: hsl(0, 0%, 75%);

//Fonts

$header-font: 'Raleway', sans-serif;
$normal-font: 'Open Sans', sans-serif;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $normal-font;
}

.header {
    padding: 0 6%;
    height: 5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    .logo {
        background-image: url('../images/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 6em;
        height: 100%;
    }

    .nav-items{
        font-size: 0.8em;
        max-width: 50%;
        width: 15em;
        margin: auto 0;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            margin: 0;
            justify-content: space-between;
            transform: translateX(-20%);
        }
    }

    @media only screen and (min-width: 768px) {
        height: 8em;
        .logo {
            width: 8em;
        }
    }
}

.hero {
    padding: 0 6%;
    display: grid;
    justify-items: center;
    text-align: center;

    .hero-img {
        width: 100%;
        margin: 10vw auto;
        img {
            width: 100%;
        }
    }

    .title {
        font-family: $header-font;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 8em;
        width: 100%;
        justify-content: space-evenly;

        label {
            display: none;
        }

        input {
            padding: 1em;
            font-family: $header-font;
            color: $light-gray;
            border: 1px solid rgba($color: #000000, $alpha: 0.4);
            box-shadow: inset 0 0 1px;
            border-radius: 4px;
        }

        input:focus-within {
            color: $black;
        }

        button {
            padding: 0.8em 0.5em;
            background-color: $blue;
            border: none;
            color: $gray-blue;
            font-family: $header-font;
            font-weight: 700;
            border-radius: 4px;
        }
    }

    @media only screen and (min-width: 768px) {
        min-height: 80%;
        grid-template-columns: 45% 50%;
        grid-template-rows: 1fr 20% 1fr;
        grid-template-areas: "content image"
                            "content image"
                            "content image";
        align-items: start;
        justify-content: space-between;

        .hero-img {
            grid-area: image;
            width: 90%;
            margin: 0 auto;
        }

        .title,
        .subtitle,
        .form {
            grid-area: "content";
            text-align: left;
        }

        .title {
            align-self: end;
        }

        .form {
            justify-self: flex-start;
            width: 80%;
            margin-top: 5%;
            align-self: start;
            flex-direction: row;
            height: 3em;
            justify-content: space-between;

            input {
                width: 50%;
            }

            button {
                width: 40%;
            }
        }
    }
}

.curve-img {
    padding: 0;
    padding-top: 5em;
    margin: 0;
    width: 100%;
    height: 4em;
    img {
        height: 100%;
        width: 100%;
    }
}

.mid-section {
    background-color: $gray-blue;

    padding: 0 6%;

    display: grid;
    justify-items: center;
    text-align: center;
    
    .section-img {
        width: 100%;
        padding-bottom: 4em;

        img {
            width: 100%;
        }
    }

    .section-header {
        font-family: $header-font;
    }

    .section-content {
        color: $grey;
    }

    .section-link {
        text-decoration: none;
        text-align: center;

        a {
            text-decoration: none;
            color: $cyan;
            box-shadow: 0 2px 0 $cyan;
            padding-bottom: 3px;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        font-family: $header-font;
        text-align: left;
        padding: 2em;
        width: 65%;
        height: 40%;

        border-radius: 5px;
        box-shadow: 0 0 10px rgba($light-gray, $alpha: 0.8);

        margin: 5em 0;

        .quote-content {
            font-size: 0.7em;
            line-height: 1.6em;
            width: 100%;
        }

        .author {
            display: flex;
            align-items: center;

            .author-img {
                width: 10%;
                padding-right: 1em;

                img {
                    width: 30px;
                    border-radius: 50%;
                }
            }

            .author-details {
                * {
                    padding: 0;
                    margin: 0;
                }

                span {
                    font-size: 0.55em;
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        min-height: 100%;
        grid-template-columns: 45% 50%;
        grid-template-rows: 20% 40% 5% 35%;
        grid-template-areas: "content image"
                            "content image"
                            "content image"
                            "content image";

        text-align: left;
        justify-items: left;
        justify-content: space-between;

        .section-header,
        .section-content,
        .section-link,
        .card {
            grid-area: "content";
        }

        .section-header {
            font-size: 1.6em;
            align-self: end;
        }

        .section-img {
            grid-area: image;
            width: 90%;
            margin: auto;
        }

        .section-link,
        .card {
            margin-top: 2em;
            align-self: start;
        }

    }
}

.early-access {
    background-color: $grey;
    color: $gray-blue;
    padding: 15% 6%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .content>h3{
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: center;
        font-size: 700;
        font-family: $header-font;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 8em;
        width: 80%;
        justify-content: space-evenly;

        label {
            display: none;
        }

        input {
            padding: 1em;
            font-family: $header-font;
            color: $light-gray;
            border: 1px solid rgba($color: #000000, $alpha: 0.4);
            border-radius: 3px;
        }

        input:focus-within {
            color: $black;
        }

        button {
            border-radius: 3px;
            padding: 0.9em 0.5em;
            background-color: $blue;
            border: none;
            color: $gray-blue;
            font-family: $header-font;
            font-weight: 700;
            box-shadow: 0 0 3px rgba($black , $alpha: 0.2);
        }
    }

    @media only screen and (min-width: 768px) {
        min-height: 20%;
        flex-direction: row;
        padding: 5% 6%;
        justify-content: space-between;

        .content {
            text-align: left;
            max-width: 40%;

            h3 {
                justify-content: left;
                font-size: 1.6em;
            }
        }

        .form {
            width: 40%;

            button {
                width: 50%;
            }
        }
    }
}

footer {
    background-color: $black;
    color: $light-gray;
    padding: 15% 6%;
    padding-bottom: 0;

    .logo {
        width            : 100%;
        height           : 4em;
    }

    .phone,
    .email {
        display              : grid;
        grid-template-columns: 10% 90%;
        align-content        : flex-end;
        justify-items        : left;

        margin-top: 1em;

        img {
            margin-top: 0.4em;
        }
    }

    .links {
        ul {
            list-style: none;
            padding   : 0;
            margin-top: 4em;
    
            li {
                margin-bottom: 1em;
            }
        }
    }

    .socials {
        display        : flex;
        justify-content: center;
        align-items    : center;

        .icon {
            margin-right : 1.5em;
            width        : 35px;
            height       : 35px;
            border       : 1px solid $light-gray;
            border-radius: 50%;

            display        : flex;
            justify-content: center;
            align-items    : center;
        }
    }

    .attribution {
        font-size : 11px;
        text-align: center;
        margin-top: 5em;
        margin-bottom: 0;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    @media only screen and (min-width: 768px) {
        display: grid;
        padding: 5% 6%;
        grid-template-areas: "logo logo logo"
                              "contact links socials";

        grid-template-columns: 30% 40% 30%;
        //grid-template-rows: 10% 90%;

        .logo {
            grid-area: logo;
        }

        .contact {
            grid-area: contact;
        }

        .links {
            grid-area: links;
            display: flex;
            justify-content: space-around;

            ul {
                margin: 0;
            }
        }

        .socials {
            grid-area: socials;
            align-self: start;
        }

        .attribution {
            grid-area: socials;
            align-self: end;
        }
    }
}