@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 0 6%;
  height: 4em;
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6em;
  height: 100%;
}

.header .nav-items {
  font-size: 0.8em;
  max-width: 50%;
  width: 15em;
  height: 100%;
}

.header .nav-items ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.hero {
  padding: 0 6%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  width: 88%;
}

.hero .hero-img {
  background-image: url("../images/illustration-1.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  width: 90%;
  margin-bottom: 10vw;
}

.hero .title {
  font-family: "Raleway", sans-serif;
}

.hero .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8em;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .form label {
  display: none;
}

.hero .form input {
  padding: 1em;
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 1px;
          box-shadow: inset 0 0 1px;
  border-radius: 4px;
}

.hero .form input:focus-within {
  color: #070439;
}

.hero .form button {
  padding: 0.8em 0.5em;
  background-color: #3065f8;
  border: none;
  color: #f8f8fe;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 4px;
}

.curve-img {
  padding: 0;
  padding-top: 5em;
  margin: 0;
  width: 100%;
  height: 4em;
}

.curve-img img {
  height: 100%;
  width: 100%;
}

.mid-section {
  background-color: #f8f8fe;
  padding: 0 6%;
  padding-top: 5em;
  margin-top: 0;
  width: 88%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.mid-section .section-img {
  background-image: url("../images/illustration-2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  padding-bottom: 4em;
}

.mid-section .section-header {
  font-family: "Raleway", sans-serif;
}

.mid-section .section-content {
  color: #585989;
}

.mid-section .section-link {
  text-decoration: none;
  text-align: center;
}

.mid-section .section-link a {
  text-decoration: none;
  color: #3c9f8f;
  -webkit-box-shadow: 0 2px 0 #3c9f8f;
          box-shadow: 0 2px 0 #3c9f8f;
  padding-bottom: 3px;
}

.mid-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding: 2em;
  width: 65%;
  height: 40%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(191, 191, 191, 0.8);
          box-shadow: 0 0 10px rgba(191, 191, 191, 0.8);
  margin: 5em 0;
}

.mid-section .card .quote-content {
  font-size: 0.7em;
  line-height: 1.6em;
  width: 100%;
}

.mid-section .card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-section .card .author .author-img {
  width: 10%;
  padding-right: 1em;
}

.mid-section .card .author .author-img img {
  width: 30px;
  border-radius: 50%;
}

.mid-section .card .author .author-details * {
  padding: 0;
  margin: 0;
}

.mid-section .card .author .author-details span {
  font-size: 0.55em;
}

.early-access {
  background-color: #585989;
  color: #f8f8fe;
  padding: 15% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.early-access .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.early-access .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8em;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.early-access .form label {
  display: none;
}

.early-access .form input {
  padding: 1em;
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.early-access .form input:focus-within {
  color: #070439;
}

.early-access .form button {
  padding: 0.9em 0.5em;
  background-color: #3065f8;
  border: none;
  color: #f8f8fe;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0 0 3px rgba(7, 4, 57, 0.2);
          box-shadow: 0 0 3px rgba(7, 4, 57, 0.2);
}

footer {
  background-color: #070439;
  color: #bfbfbf;
  padding: 15% 6%;
}

footer .logo {
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  mix-blend-mode: screen;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin-top: 4em;
}

footer .links ul li {
  margin-bottom: 1em;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials .icon {
  margin-right: 1.5em;
  width: 35px;
  height: 35px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 0;
}

footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */